/* CSS declarations go here */

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
.App {
  text-align: center;
}

#homeTitle {
  text-align: center;
  font-weight: normal;
  color: white;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}
#homeSearch, :focus {
  text-align: center;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  background: none;
  color: white;
  outline: none;
  border: 5px solid white;
  border-radius: 30px;
  width: 400px;
  height: 40px;
}

::-webkit-input-placeholder{
  color: white;
}

.center-content {
  height: 500px;
  width: 800px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

h1 {
  text-align: center;
  font-weight: normal;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  text-align: center;
  font-weight: normal;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #36D1DC;
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
  background: linear-gradient(to left, #5B86E5, #36D1DC);
}

a, a:link, a:visited, a:hover, a:active {
  border-radius: 30px;
  background: none;
  border: 2px solid #fff;
  width: 50px;
  height: 20px;
  color: white;
  outline: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: none;
  margin: 20px 20px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

#donut {
  width: 100px;
  height: 100px;
  display: block;
}